[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Matteo Simone Borghi
	email = Bogghi@users.noreply.github.com
[core]
	autocrlf = input
